<header>
  <nav>
    <div class="nav-wrapper">
    <a class="brand-logo"><h4>Mi Primer Blog</h4></a>
      <li class="col-md brand-logo center">
        <h4><%= link_to 'Mis Articulos', root_path %></h4></a>
      </li>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li class= 'col-md'>
          <h4><%= link_to 'Crear', new_article_path %></h4>
        </li>
        <li class= 'col-md'>
          <h4><%= link_to 'Mostrar', articles_path %></h4>
        </li>

        <li class= 'col-md'>
          <h4><%= link_to  'Cerrar sesión', destroy_user_session_path, method: :delete %></h4>
        </li>
        <% else %>
        <li class="col-md">
          <%= link_to 'Iniciar sesión', new_user_session_path %>
        </li>
        <li class="col-md">
          <%= link_to 'Crear cuenta', new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
