<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# direccion donde se encuentra el tipo de letra a utilizar en toda la pagina %>
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href= '' class="brand-logo "><h4>Mi Primer Blog</h4></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html" class="flow-text"><h4>Inicio</h4></a></li>
            <li><a href="badges.html" class="flow-text"><h4>Diseño</h4></a></li>
            <li><a href="collapsible.html" class="flow-text"><h4>Programación</h4></a></li>
            <li><a href="collapsible.html" class="flow-text"><h4>Tecnología</h4></a></li>
          </ul>
        </div>
      </nav>
      <!-- <nav class="button-color white">
        <ul class="no list row center-xs">
          <li class="col-md">
            <%=link_to 'Inicio', root_path  %>
          </li>
          <li class="col-md">
            Diseño
          </li>
          <li class="col-md">
            Programación
          </li>
          <li class="col-md">
            Tecnología
          </li>
        </ul>
      </nav> -->
    </header>
    <%= yield %>
  </body>
</html>
